body {
  background-color: rgb(108, 207, 194);
}
table {
  margin-top: 15px;
}

th {
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Inria Serif", serif;
  color: rgb(182, 129, 32);
  cursor: pointer;
}

header {
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(235, 72, 72);
  border-radius: 10px;
}
.email {
  color: rgb(28, 28, 235);
  font-size: 15px;
}
.inputAndButton {
  margin-top: 40px;
}

.searchBtn {
  margin-top: 40px;
  border-radius: 10px;
  letter-spacing: 1px !important;
  font-size: 15px;
  background-color: #2b4162;
  box-shadow: lightyellow 1px 1px 8px;
  font-weight: bolder;
}
p {
  color: lightyellow;
}

img {
  border-radius: 50%;
  box-shadow: black 1px 1px 8px;
}

.headerText {
  letter-spacing: 1px;
  font-size: 60px;
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-shadow: lightyellow 3px 3px 3px;
  color: black;
}

hr {
  border: 2px solid black;
  box-shadow: lightyellow 3px 3px 3px;
  width: 100%;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
input {
  color: gray !important;
}
.smallerHeaderText {
  color: white;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.5px;
  line-height: 0px;

  font-weight: lighter;

  margin-top: 0;
}

.tableEmployee {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  font-family: "Catamaran", sans-serif;
}

td {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
}
